# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environments
.venv/
venv/

# Ignore environment files
.env

# Ignore node modules
node_modules/

# Ignore SQLite database files
*.db
*.sqlite

# Ignore logs
*.log
# Ignore frontend directories
.vscode/
node_modules/
